body,html {
    margin: 0;
    padding: 0;
    background-color: #12181B;
}
* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    font-family: "Gill Sans", monospace;
    font-size: 10vw;
    background-image: url('./../images/img.png');
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.controls {
    margin-top: 16px;
}